body {
    font-family: sans-serif;
}

header {
    background-color: aqua;
    border: 5px solid aqua;
    border-radius: 10px;
}

header img {
    border-radius: 5px;
}

header a {
    text-decoration: none;
    background-color: dodgerblue;
    color: black;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
}

main h1 {
    color: darkmagenta;
    background-color: fuchsia;
    border-radius: 10px;
    text-align: center;
    border: 2px solid indigo;
}

footer {
    background-color: rgb(0, 179, 255) ;
    padding: 2px;
    border-radius: 10px;
}

footer p {
    background-color: rgb(121, 3, 255);
    padding: 4px;
    border-radius: 5px;
}

nav {
    background-color: rgb(255, 4, 154);
    border-bottom-down-radius: 8px;
    border: 6px solid rgb(255, 4, 154);
}

nav a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color:rgb(187, 0, 255) ;
    background-color: lavender;
    border-radius: 5px;
    border: 3px solid rgb(187, 0, 255);
}

main {
    font-size:20px;
}

.feer {
    background-color: rgb(255, 136, 0);
    border: 10px solid rgb(255, 136, 0);
    border-radius: 15px;
}

.h2 {
    color: red;
    text-align: center;
}

.pred {
    text-align: center;
    color: blue;
}

.delivery {
    color: rgb(255, 4, 46);
    text-align: center;
}
.con {
    background-color: rgb(0, 255, 255);
    border: 3px solid rgb(0, 0, 255);
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.up {
    background-color: rgb(242, 0, 255);
    border: 3px solid rgb(242, 255, 0);
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.wholesale {
    text-align: center;
    color: brown;
}

.comp {
    text-align: center;
    color: rgb(255, 255, 8);
}
